# Select terminal emulator to use
Set Term = "foot"

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

include("cal.widget")

layout ":start" {
  size = "100%"
  layer = "top"
  mirror = "*"
  bar_id = "bar-0"
  exclusive_zone = "auto"

  pager {
    style = "pager"
    rows = 1
    pins = "1","2","3","4"
    action[Drag] = WorkspaceActivate
  }    
}

layout ":center" {
  grid {
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      value = Time("%H:%M:%S")
      style ="clock"
      tooltip = "<b>Date:</b> " + Time("%d/%m/%Y") + "\n" +
                "<b>Day:</b> " + Time("%A") + "\n" +
                "<b>Week:</b> " + Time("%V") 
    }
  }
}

layout ":end" {
  label {
    css = "* { -GtkWidget-hexpand: true; }"
  }

  tray {
    rows = 1
    style = "tray"
  }

  include("wbar-idleinhibit.widget")
  include("wbar-net-wireguard.widget")
  include("wbar-keyboardlang.widget")
  include("wbar-net-wifi.widget")
  include("wbar-pulse.widget")
  include("wbar-battery.widget")
}

#CSS
@define-color sfwbar-background #000000;
@define-color sfwbar-foreground #ecf0f1;
@define-color sfwbar-black #2c3e50;
@define-color sfwbar-blue #2980b9;
@define-color sfwbar-brightblack #7f8c8d;
@define-color sfwbar-brightwhite #ecf0f1;
@define-color sfwbar-cyan #3498db;
@define-color sfwbar-green #2ecc71;
@define-color sfwbar-magenta #9b59b6;
@define-color sfwbar-red #e74c3c;
@define-color sfwbar-white #ecf0f1;
@define-color sfwbar-yellow #f1c40f;

* {
    font-family: 'Adwaita Sans', 'Font Awesome 6 Free', 'Fira Sans Book', Arial, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 5px;
	  margin: 0;
	  padding: 0;
    margin: 0;
    text-shadow: none;
    -GtkWidget-vexpand: true;
    color: @sfwbar-foreground;
}

window#sfwbar {
  -GtkWidget-direction: top;
  background-color: @sfwbar-background;
  color: @sfwbar-foreground;
  border-radius: 0;
}

#hidden {
  -GtkWidget-visible: false;
}

tooltip {
  background-color: @sfwbar-black;
}

label, button {
  color: @sfwbar-foreground;
  min-height: 0px;
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
  padding: 0 8px;
  margin: 0px 2px;
}

image {
  -ScaleImage-symbolic: true;
}

#idleinhibitor_active {
    color: @sfwbar-cyan;
}

#idleinhibitor_inactive {
    color: @sfwbar-black;
}

button#pager_item {
  padding: 0 0.6em;
  background: transparent;
  color: @sfwbar-foreground;
  box-shadow: none;
  margin: 0px 2px;
}

button#pager_item.focused {
  background-color: @sfwbar-black;
}

#tray {
  background-color: @sfwbar-black;
  color: @sfwbar-foreground;
  margin: 5px;
}

button#tray_item {
  margin: 0px;
  border: none;
  padding: 0px 8px;
}

button#tray_item.passive {
  -GtkWidget-visible: false;
}

button#tray_item label {
  padding: 1px;
  color: @sfwbar-foreground;
}

button#tray_item image {
  -GtkWidget-valign: center;
  -GtkWidget-halign: center;
  -GtkWidget-vexpand: true;
  border: none;
}

grid#pager {
  border-color: @theme_fg_color;
  border-style: solid;
  border-width: 0px;
  margin: 2px;
  padding: 0px;
}

button#pager_item {
  border-radius: 5px;
  border: none;
  outline: 0px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 5px 5px;
  -GtkWidget-halign: center;
  -GtkWidget-valign: center;
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: @sfwbar-foreground;
  min-width: 5cm;
  min-height: 2.8125cm;
}

label#clock {
  padding-left: 2px;
  padding-right: 2px;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
  color: @sfwbar-foreground;
  font-size: 20px;
  font-family: 'Noto Sans Mono';
}

label#network {
  color: @sfwbar-foreground;
}
label#network_disconnected {
  color: @sfwbar-red;
}

label#wireguard {
  color: @sfwbar-cyan;
}
label#wireguard_disconnected {
  color: @sfwbar-black;
}


label#battery_discharging {
  color: @sfwbar-foreground;
}
label#battery_charging {
  color: @sfwbar-green;
}

label#battery_discharging_critical {
    color: @sfwbar-red;
    animation-name: blink-critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-critical {
  from {background-color: @sfwbar-red;}
  to {background-color: @sfwbar-background;}
}

label#battery_discharging_warning {
    color: @sfwbar-yellow;
    animation-name: blink-warning;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-warning {
  from {background-color: @sfwbar-yellow;}
  to {background-color: @sfwbar-background;}
}

label#idle_inhibitor_activated {
  color: @sfwbar-cyan;
}
label#idle_inhibitor_deactivated {
  color: @sfwbar-black;
}
